body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    color: #777777;
    background-image:url(../images/concrete_seamless.png) ;
    height: 100%;

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topborder {
    background-color: #ffffff;
    height: 76px;
    margin-bottom: 40px;
    border-bottom: 2px solid #cccccc;
    width: 100%; 
}

.headerinfo {
    /* display: flex; */
    max-width: 960px;
    margin: 0 auto;
}

.name {
    position: absolute;
    padding: 23px;
    background-color:#4aaaa5;
    color: white;
    float: left;
    font-size: 20pt;
    text-align: center;    
    margin-top: 0;
    width: fit-content;
    top: 0;
}

.navbar {
    float: right;
    padding-top: 30px;
    margin: 0 auto;
    color: #777777;
}

.infotitle {
    color:#4aaaa5;
    font-size: 20pt;
}

hr {
    height: 2px;
    background-color: #777777;
    opacity: 20%;
}

.info {
    clear: both;
    width: 920px;
    padding: 20px;
    background-color: #ffffff;
    margin: 0 auto;
    line-height: 25px;
}

.container {
    position: relative;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.projectname {
    position: absolute;
    bottom: 20%;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
}



ins {
    opacity: 20%;
}

a {
    color: #777777;
    margin: 10px;
    opacity: 90%;     
}

img {
    display: block;
    margin: 20px 0px 20px 0px;
    align-self: center;   
}

 .footer {
    height: 50px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }

 .cr {
     position: absolute;
     color: darkgray;
     font-size: 8pt;
     margin-bottom: 4px;
     width: 100%;
     bottom: 0;
 }
 