body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    color: #777777;
    background-image:url(../images/concrete_seamless.png) ;
    height: 100%;

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topborder {
    background-color: #ffffff;
    height: 76px;
    margin-bottom: 40px;
    border-bottom: 2px solid #cccccc;
    width: 100%; 
}

.headerinfo {
    max-width: 960px;
    margin: 0 auto;
    display: flexbox;
}

.name {
    position: absolute;
    padding: 23px;
    background-color:#4aaaa5;
    color: white;
    float: left;
    font-size: 20pt;
    text-align: center;    
    margin-top: 0;
    min-width: fit-content;
    top: 0;
}

.navbar {
    float: right;
    padding-top: 30px;
    margin: 0 auto;
    color: #777777;
}

.infotitle {
    color:#4aaaa5;
    font-size: 20pt;
}

hr {
    height: 2px;
    background-color: #777777;
    opacity: 20%;
}

.info {
    clear: both;
    max-width: 920px;
    padding: 20px;
    background-color: #ffffff;
    margin: 0 auto;
    line-height: 25px;
}

ins {
    opacity: 20%;
}

a {
    color: #777777;
    margin: 10px;
    opacity: 90%;     
}

img {
    float: left;
    margin-right: 20px;    
}

 .footer {
    height: 50px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }

 .cr {
     position: absolute;
     color: darkgray;
     font-size: 8pt;
     margin-bottom: 4px;
     width: 100%;
     bottom: 0;
 }

@media screen and (max-width: 980px) {
    .headerinfo,
    .info { max-width: 900px;
    }
}

@media screen and (max-width: 768px) {
    .headerinfo,
    .info { max-width: 700px;

    }

}

@media screen and (max-width: 640px) {
    .headerinfo,
    .info { max-width: 700x;
        display: block;
        
    }
    .name {
        display: block;
        width: 100%;
        text-align: center;
      
    }
    .navbar {
        display: block;
        width: 100%;
        text-align: center;
        float: none;
        margin-top: 60px;
    }
    .topborder {
        height: fit-content;
        display: block;
    }

}