body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    color: #777777;
    background-image:url(../images/concrete_seamless.png) ;
    height: 100%;

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topborder {
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 76px;
    margin-bottom: 40px;
    border-bottom: 2px solid #cccccc;
}

.name {
    position: relative;
    padding: 20px;
    background-color:#4aaaa5;
    color: white;
    float: left;
    font-size: 24pt;
    text-align: center;    
    margin-top: 0;
    width: fit-content;
    bottom: 0;
}

.navbar {
    float: right;
    padding: 30px;
    margin: 0;

}

.infotitle {
    color:#4aaaa5;
}

hr {
    height: 2px;
    background-color: #777777;
    opacity: 20%;
}

.info {
    clear: both;
    width: 960px;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 100px;
    margin: 0 auto;
    line-height: 25px;
}

p {
    margin-left: 10px;
}

a {
    color: #777777;
    margin: 10px;     
}

img {
    float: left;
    margin-right: 10px;    
}

 .footer {
    height: 50px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }

 .cr {
     position: absolute;
     color: lightgray;
     font-size: 8pt;
     margin-bottom: 4px;
     width: 100%;
     bottom: 0;
 }
 